<!--Bottom Navigation-->
<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <div class="container-fluid">
        <h6 class="display-10 navbar-text">&copy;&nbsp;&nbsp;Copyright 2022 - Seo Woo Jang, 301104016 All Rights reserved.</h6>
      </div>
    </nav>
  </footer>